# EDA

In [1]:
import os 
import numpy as np 
import pandas as pd
 
file_path = "./Dataset/소상공인 고객 주문 질의-응답 텍스트/Training/"

restaurant = pd.read_csv(file_path+"음식점_train.csv")
cafe = pd.read_csv(file_path+"카페_train.csv")

In [2]:
cafe.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 169633 entries, 0 to 169632
Data columns (total 19 columns):
 #   Column  Non-Null Count   Dtype
---  ------  --------------   -----
 0   IDX     169633 non-null  int64
 1   발화자     169633 non-null  object
 2   발화문     169633 non-null  object
 3   카테고리    169633 non-null  object
 4   QA번호    169633 non-null  int64
 5   QA여부    169633 non-null  object
 6   감성      169633 non-null  object
 7   인텐트     169633 non-null  object
 8   가격      9716 non-null    object
 9   수량      7064 non-null    object
 10  크기      794 non-null     object
 11  장소      2620 non-null    object
 12  조직      1105 non-null    object
 13  사람      429 non-null     object
 14  시간      1871 non-null    object
 15  날짜      3262 non-null    object
 16  상품명     85176 non-null   object
 17  상담번호    169633 non-null  int64
 18  상담내순번   169633 non-null  int64
dtypes: int64(4), object(15)
memory usage: 24.6+ MB

In [3]:
restaurant.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 290387 entries, 0 to 290386
Data columns (total 19 columns):
 #   Column  Non-Null Count   Dtype
---  ------  --------------   -----
 0   IDX     290387 non-null  int64
 1   발화자     290387 non-null  object
 2   발화문     290387 non-null  object
 3   카테고리    290387 non-null  object
 4   QA번호    290387 non-null  int64
 5   QA여부    290387 non-null  object
 6   감성      290387 non-null  object
 7   인텐트     290387 non-null  object
 8   가격      20802 non-null   object
 9   수량      9958 non-null    object
 10  크기      5106 non-null    object
 11  장소      4167 non-null    object
 12  조직      1455 non-null    object
 13  사람      727 non-null     object
 14  시간      2904 non-null    object
 15  날짜      2867 non-null    object
 16  상품명     127412 non-null  object
 17  상담번호    290387 non-null  int64
 18  상담내순번   290387 non-null  int64
dtypes: int64(4), object(15)
memory usage: 42.1+ MB

In [4]:
restaurant.head()

,IDX,발화자,발화문,카테고리,QA번호,QA여부,감성,인텐트,가격,수량,크기,장소,조직,사람,시간,날짜,상품명,상담번호,상담내순번
0,1,c,"참치타다끼샐러드는 취소했었는데, 맞죠?",음식점,32365,q,m,주문_취소_확인,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,참치타다끼샐러드,32365,1
1,2,s,"네, 참치타다끼샐러드는 취소된 상태입니다.",음식점,32365,a,m,주문_취소_확인,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,참치타다끼샐러드,32365,2
2,3,c,주문한 메뉴 취소할 때 주문서만 있으면 된다는 말씀이세요?,음식점,15016,q,m,주문_취소_확인,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,15016,1
3,4,s,"네, 주문서만 있으면 취소 가능합니다.",음식점,15016,a,m,주문_취소_확인,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,15016,2
4,5,c,고객서비스가 엉망이군요. 그냥 갑니다.,음식점,62984,q,n,주문_취소_확인,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,62984,1

In [5]:
restaurant.nunique()

IDX      290387
발화자           4
발화문      203269
카테고리          1
QA번호      47518
QA여부          2
감성            3
인텐트         212
가격         1798
수량          851
크기          621
장소          880
조직          514
사람           14
시간          112
날짜          388
상품명       29379
상담번호      49522
상담내순번       754
dtype: int64

In [6]:
restaurant['상품명'].value_counts()

상품명
치킨                 1188
짜장면                1159
피자                  994
콜라                  947
떡볶이                 788
                   ...
야채죽| 달걀죽| 흰죽          1
두루치기|된장찌개             1
돈까스|밥|양배추샐러드|우동       1
버터새우                  1
연어회|연어구이              1
Name: count, Length: 29379, dtype: int64

# Preprocessing

In [8]:
drop_cols = ['IDX', '카테고리', 'QA번호', '가격', '상담번호', '상담내순번', '날짜', '시간', '사람']
processed_data = restaurant.drop(drop_cols, axis=1)
processed_data.head()

,발화자,발화문,QA여부,감성,인텐트,수량,크기,장소,조직,상품명
0,c,"참치타다끼샐러드는 취소했었는데, 맞죠?",q,m,주문_취소_확인,NaN,NaN,NaN,NaN,참치타다끼샐러드
1,s,"네, 참치타다끼샐러드는 취소된 상태입니다.",a,m,주문_취소_확인,NaN,NaN,NaN,NaN,참치타다끼샐러드
2,c,주문한 메뉴 취소할 때 주문서만 있으면 된다는 말씀이세요?,q,m,주문_취소_확인,NaN,NaN,NaN,NaN,NaN
3,s,"네, 주문서만 있으면 취소 가능합니다.",a,m,주문_취소_확인,NaN,NaN,NaN,NaN,NaN
4,c,고객서비스가 엉망이군요. 그냥 갑니다.,q,n,주문_취소_확인,NaN,NaN,NaN,NaN,NaN

In [9]:
processed_data['상품명'] = processed_data['상품명'].str.replace(" ", "")
processed_data['상품명1'] = processed_data['상품명'].str.split('|').str[0]
processed_data['상품명2'] = processed_data['상품명'].str.split('|').str[1]
processed_data['상품명3'] = processed_data['상품명'].str.split('|').str[2]
processed_data['상품명4'] = processed_data['상품명'].str.split('|').str[3]
processed_data['상품명5'] = processed_data['상품명'].str.split('|').str[4]
processed_data['상품명6'] = processed_data['상품명'].str.split('|').str[5]
processed_data['상품명7'] = processed_data['상품명'].str.split('|').str[6]
processed_data['상품명8'] = processed_data['상품명'].str.split('|').str[7]
processed_data['상품명9'] = processed_data['상품명'].str.split('|').str[8]
processed_data['상품명10'] = processed_data['상품명'].str.split('|').str[9]
processed_data['상품명11'] = processed_data['상품명'].str.split('|').str[10]
processed_data['상품명12'] = processed_data['상품명'].str.split('|').str[11]
processed_data['상품명13'] = processed_data['상품명'].str.split('|').str[12]
processed_data['상품명14'] = processed_data['상품명'].str.split('|').str[13]
processed_data['상품명15'] = processed_data['상품명'].str.split('|').str[14]
processed_data['상품명16'] = processed_data['상품명'].str.split('|').str[15]
processed_data['상품명17'] = processed_data['상품명'].str.split('|').str[16]
processed_data['상품명18'] = processed_data['상품명'].str.split('|').str[17]
processed_data['상품명19'] = processed_data['상품명'].str.split('|').str[18]
processed_data['상품명20'] = processed_data['상품명'].str.split('|').str[19]
processed_data['상품명21'] = processed_data['상품명'].str.split('|').str[20]
processed_data['상품명22'] = processed_data['상품명'].str.split('|').str[21]

print(processed_data['상품명22'].value_counts())
processed_data

상품명22
베이컨쉬림프    1
Name: count, dtype: int64

,발화자,발화문,QA여부,감성,인텐트,수량,크기,장소,조직,상품명,...,상품명13,상품명14,상품명15,상품명16,상품명17,상품명18,상품명19,상품명20,상품명21,상품명22
0,c,"참치타다끼샐러드는 취소했었는데, 맞죠?",q,m,주문_취소_확인,NaN,NaN,NaN,NaN,참치타다끼샐러드,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,s,"네, 참치타다끼샐러드는 취소된 상태입니다.",a,m,주문_취소_확인,NaN,NaN,NaN,NaN,참치타다끼샐러드,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,c,주문한 메뉴 취소할 때 주문서만 있으면 된다는 말씀이세요?,q,m,주문_취소_확인,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,s,"네, 주문서만 있으면 취소 가능합니다.",a,m,주문_취소_확인,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,c,고객서비스가 엉망이군요. 그냥 갑니다.,q,n,주문_취소_확인,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
290382,s,성북동까지 지금 시간에는 40분 이상 걸립니다.,a,m,배송_날짜_요청,NaN,NaN,성북동,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
290383,c,짜장면 지금 주문하면 바로 배달 올 수 있죠?,q,m,배송_날짜_요청,NaN,NaN,NaN,NaN,짜장면,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
290384,s,"네, 지금 주문하시면 바로 배달 갑니다.",a,m,배송_날짜_요청,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
290385,c,롯데유치원에 피자 20판 보내야하는데 5시까지 될까요?,q,m,배송_날짜_요청,NaN,NaN,롯데유치원,NaN,피자,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
290386,s,"네, 피자 20판 5시까지 보내드릴 수 있습니다.",a,m,배송_날짜_요청,NaN,NaN,NaN,NaN,피자,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [10]:
series = processed_data['상품명1'].value_counts().to_frame()
series.to_csv('seriese.csv')

In [11]:
print(processed_data['상품명1'].value_counts()[:30])

상품명1
짜장면        1548
치킨         1452
떡볶이        1295
콜라         1246
피자         1221
쌀국수         897
족발          821
파스타         733
초밥          727
햄버거         723
김밥          720
샐러드         662
탕수육         655
스테이크        602
고기          585
짬뽕          573
맥주          550
멸치볶음        509
소스          506
도시락         480
불고기버거세트     462
곰탕          462
와인          429
소주          419
묵은지김치찜      397
밥           388
군만두         384
김치          381
돈까스         379
치즈          368
Name: count, dtype: int64

# 햄버거 데이터

햄버거 > 치킨 > 짜장면 > 김밥

치킨
콜라
햄버거
불고기버거세트
빵
치킨버거
버거
피클
불고기버거
빅맥
치즈버거
치즈볼
프렌치프라이
더블치즈버거
버거세트
A세트
음료수
음료
상하이스파이시버거세트
햄버거세트
양념감자
패티

In [12]:
hambuger = processed_data.drop('상품명', axis=1)

ham1 = hambuger[hambuger.상품명1 == '햄버거']
ham2 = hambuger[hambuger.상품명1 == '버거']
ham3 = hambuger[hambuger.상품명1 == '햄버거세트']
ham4 = hambuger[hambuger.상품명1 == '버거세트']
ham5 = hambuger[hambuger.상품명1 == '치킨버거']
ham6 = hambuger[hambuger.상품명1 == '불고기버거']
ham7 = hambuger[hambuger.상품명1 == '불고기버거세트']
ham8 = hambuger[hambuger.상품명1 == '치즈버거']
ham9 = hambuger[hambuger.상품명1 == '더블치즈버거']
ham10 = hambuger[hambuger.상품명1 == '상하이스파이시버거세트']
ham11 = hambuger[hambuger.상품명1 == '패티']
ham12 = hambuger[hambuger.상품명1 == '프렌치프라이']
ham13 = hambuger[hambuger.상품명1 == '빅맥']

hambuger = pd.concat([ham1, ham2, ham3, ham4, ham5, ham6, ham7, ham8, ham9, ham10, ham11, ham12, ham13])
hambuger

,발화자,발화문,QA여부,감성,인텐트,수량,크기,장소,조직,상품명1,...,상품명13,상품명14,상품명15,상품명16,상품명17,상품명18,상품명19,상품명20,상품명21,상품명22
2682,c,햄버거 얼마 이상 주문해야 배달비 무료인지 궁금해요.,q,m,배송_비용_질문,NaN,NaN,NaN,NaN,햄버거,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3051,c,햄버거 얼마 이상 주문해야 배달비가 무료라고 하셨죠?,q,m,배송_비용_질문,NaN,NaN,NaN,NaN,햄버거,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
16917,c,햄버거에 토마토는 뺄 수 있나요?,q,m,제품_구성_질문,NaN,NaN,NaN,NaN,햄버거,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
19399,s,"네, 햄버거는 두개 포함된 세트입니다.",a,m,제품_구성_질문,NaN,NaN,NaN,NaN,햄버거,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
20157,c,햄버거에 계란이 기본으로 다 들어가나요?,q,m,제품_구성_질문,NaN,NaN,NaN,NaN,햄버거,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
285639,c,빅맥이 너무 크던데 그냥 스파이시 버거로 주문 변경 좀 부탁드릴게요.,q,m,주문_변경_요청,NaN,NaN,NaN,NaN,빅맥,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
285640,s,"네, 빅맥에서 스파이시 버거로 주문 변경 해드렸습니다.",a,m,주문_변경_요청,NaN,NaN,NaN,NaN,빅맥,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
286700,c,여기 빅맥 대신 상하이버거로 바꿔주세요.,q,m,주문_변경_요청,NaN,NaN,NaN,NaN,빅맥,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
287402,c,빅맥이 너무 크던데 그냥 스파이시 버거로 바꿔주세요.,q,m,주문_변경_요청,NaN,NaN,NaN,NaN,빅맥,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
287403,s,"네, 빅맥에서 스파이시 버거로 주문 바꿔드렸어요.",a,m,주문_변경_요청,NaN,NaN,NaN,NaN,빅맥,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [15]:
hambuger.isna().sum()

발화자         0
발화문         0
QA여부        0
감성          0
인텐트         0
수량       2549
크기       2797
장소       2724
조직       2763
상품명1        0
상품명2     1977
상품명3     2670
상품명4     2804
상품명5     2809
상품명6     2809
상품명7     2811
상품명8     2811
상품명9     2811
상품명10    2811
상품명11    2811
상품명12    2811
상품명13    2811
상품명14    2811
상품명15    2811
상품명16    2811
상품명17    2811
상품명18    2811
상품명19    2811
상품명20    2811
상품명21    2811
상품명22    2811
dtype: int64

In [18]:
hambuger = hambuger.drop(['상품명7','상품명8','상품명9','상품명10','상품명11','상품명12','상품명13','상품명14','상품명15','상품명16','상품명17','상품명18','상품명19','상품명20','상품명21','상품명22'], axis=1)
hambuger

,발화자,발화문,QA여부,감성,인텐트,수량,크기,장소,조직,상품명1,상품명2,상품명3,상품명4,상품명5,상품명6
2682,c,햄버거 얼마 이상 주문해야 배달비 무료인지 궁금해요.,q,m,배송_비용_질문,NaN,NaN,NaN,NaN,햄버거,NaN,NaN,NaN,NaN,NaN
3051,c,햄버거 얼마 이상 주문해야 배달비가 무료라고 하셨죠?,q,m,배송_비용_질문,NaN,NaN,NaN,NaN,햄버거,NaN,NaN,NaN,NaN,NaN
16917,c,햄버거에 토마토는 뺄 수 있나요?,q,m,제품_구성_질문,NaN,NaN,NaN,NaN,햄버거,토마토,NaN,NaN,NaN,NaN
19399,s,"네, 햄버거는 두개 포함된 세트입니다.",a,m,제품_구성_질문,NaN,NaN,NaN,NaN,햄버거,NaN,NaN,NaN,NaN,NaN
20157,c,햄버거에 계란이 기본으로 다 들어가나요?,q,m,제품_구성_질문,NaN,NaN,NaN,NaN,햄버거,계란,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
285639,c,빅맥이 너무 크던데 그냥 스파이시 버거로 주문 변경 좀 부탁드릴게요.,q,m,주문_변경_요청,NaN,NaN,NaN,NaN,빅맥,스파이시버거,NaN,NaN,NaN,NaN
285640,s,"네, 빅맥에서 스파이시 버거로 주문 변경 해드렸습니다.",a,m,주문_변경_요청,NaN,NaN,NaN,NaN,빅맥,스파이시버거,NaN,NaN,NaN,NaN
286700,c,여기 빅맥 대신 상하이버거로 바꿔주세요.,q,m,주문_변경_요청,NaN,NaN,NaN,NaN,빅맥,상하이버거,NaN,NaN,NaN,NaN
287402,c,빅맥이 너무 크던데 그냥 스파이시 버거로 바꿔주세요.,q,m,주문_변경_요청,NaN,NaN,NaN,NaN,빅맥,스파이시버거,NaN,NaN,NaN,NaN
287403,s,"네, 빅맥에서 스파이시 버거로 주문 바꿔드렸어요.",a,m,주문_변경_요청,NaN,NaN,NaN,NaN,빅맥,스파이시버거,NaN,NaN,NaN,NaN

In [23]:
print(hambuger[hambuger['상품명6'].isna() == False]['발화문'].values)

['치킨버거, 통새우버거, 불고기버거, 후라이즈, 해시브라운 네조각, 콜라 일점이오리터입니다'
 '불고기버거 치킨버거 갈릭이나 칠리 중에 선택하실 수 있구요 빅후렌치후라이, 어니언링 네조각, 순살치킨 컵, 콜라입니다']

In [25]:
hambuger[hambuger['상품명6'].isna() == False]

,발화자,발화문,QA여부,감성,인텐트,수량,크기,장소,조직,상품명1,상품명2,상품명3,상품명4,상품명5,상품명6
9839,s,"치킨버거, 통새우버거, 불고기버거, 후라이즈, 해시브라운 네조각, 콜라 일점이오리터입니다",a,m,제품_구성_질문,네조각,일점이오리터,NaN,NaN,치킨버거,통새우버거,불고기버거,후라이즈,해시브라운,콜라
9837,s,"불고기버거 치킨버거 갈릭이나 칠리 중에 선택하실 수 있구요 빅후렌치후라이, 어니언링...",a,m,제품_구성_질문,네조각,NaN,NaN,NaN,불고기버거,치킨버거,빅후렌치후라이,어니언링,순살치킨컵,콜라